<ion-view view-title="Ajouter">
	<ion-content class="padding">
		<label class="item item-input">
      		<textarea rows="10" ng-model="plan.comment"></textarea>
		</label>
    	<ion-scroll direction="x" style="height:100px; min-height: 100px; overflow: scroll; white-space: nowrap;">
			<img ng-repeat="image in images" ng-src="{{ urlForImage(image) }}" style="height:100px; padding: 5px 5px 5px 5px;" ng-click="showMedia(urlForImage(image))"/>
		</ion-scroll>
		<label class="item item-input">      
    		<button class="button button-block button-positive" ng-click="addMedia()">
			  Ajouter une photo
			</button>      
      		&nbsp;&nbsp;
      	<label>
        	<button class="button button-block button-positive" ng-click="addPlan(plan)">
          		Enregistrer
        	</button>
      	</label>
	</ion-content>
</ion-view>