<ion-view view-title="Editer">
	<ion-content class="padding">
		<label class="item item-input">
      		<textarea rows="10" ng-model="plan.data"></textarea>
		</label>
    	<ion-view direction="x" style="height:100px; min-height: 100px; white-space: nowrap;">
			<img ng-repeat="image in images" ng-src="{{ urlForImage(image) }}" style="height:100px; padding: 5px 5px 5px 5px;"/>
		</ion-view>
		<label class="item item-input">      
    		<button class="button button-block button-positive" ng-click="addMedia()">
			  Ajouter une photo
			</button>      
      		&nbsp;&nbsp;
      	</label>
      	<label class="item item-input">
        	<button class="button button-block button-positive" ng-click="editPlan(plan)">
          		Enregistrer
        	</button>&nbsp;&nbsp;
        </label>
        <label class="item item-input">
        	<button class="button button-block button-positive" ng-click="remove()">
          		Supprimer
        	</button>&nbsp;&nbsp;
      	</label>
	</ion-content>
</ion-view>