<ion-view view-title="{{ trip.title }}" cache-view="false">
	<ion-content>
		<ion-list>
	  		<ion-item ng-repeat="item in plans">
	  			<div class="list card">
					<div class="item item-image">
				    	{{item.data}}
					<!--<p ng-bind-html="item.data.replace(/\n/g, '<br/>')"></p><br>-->
				    	<ion-item ng-repeat="image in item.images">
				    		<img ng-src="{{image}}">
				    	</ion-item>
				  	</div>
				</div>
				<ion-option-button class="button-assertive" ng-click="remove($index, {{item.id}})">Supprimer</ion-option-button>
				<ion-option-button class="button-positive" ng-click="edit({{item.id}})">Modifier</ion-option-button>
	  		</ion-item>
	    </ion-list>
	</ion-content>

	<div class="float-button" style="background-color: #11c1f3;">
		<span class="height-fix">
	   		<a class="content" href="#/tab/plan.add/{{trip.id}}">
	    		<i class="ion-android-add"> </i>
	   		</a>
	  	</span>
	</div>
</ion-view>