<ion-view view-title="Ajouter un voyage">
	<ion-content class="padding">
		<label class="item item-input">
		  <span class="input-label">Titre :</span>
		  <input type="text" ng-model="trip.title">
		</label>
		<label class="item item-input">
			<span class="input-label">Date</span>
			<input type="date" ng-model="trip.dateDebut">
		</label>
		<label class="item item-input">
			<button class="button button-block button-positive" ng-click="addTrip(trip)">
			  Enregistrer
			</button>
		</label>
	</ion-content>
</ion-view>