<ion-view>
  <ion-nav-title>{{trip.title}}</ion-nav-title>
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-navicon" ng-click="popover.show($event)"></button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <ion-list no-lines>
      <ion-item ng-repeat="day in trip.days" href="#/tab/day.edit/{{ trip.id_trip }}/{{ day.id_day }}">
        <h2>{{ day.title }}</h2>
        <p>{{ day.dateShow }}</p>
      </ion-item>
    </ion-list>
  </ion-content>
  <div class="float-button">
    <span class="height-fix">
	   		<a class="content" href="#/tab/day.add/{{ trip.id_trip }}">
	    		<i class="ion-android-add"> </i>
	   		</a>
	  	</span>
  </div>
</ion-view>